# macOS
.DS_Store
**/.DS_Store

# Xcode user state
xcuserdata/
*.xcuserstate
*.xcuserdatad/

# Xcode build
DerivedData/
build/

# Swift Package Manager
.build/

# CocoaPods
Pods/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output/
